@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


*{
    font-family: 'Silkscreen';
    color: white;
    color: black;
}

body{
    background: linear-gradient(to right, rgb(25rgb(255, 255, 255)5, 255), black);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.scoreContainer{
    display: flex;
    justify-content: left;
    margin-left: 75px
}

.scoreContainer h1
{
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
}



button{
    background-color: #00ff00; 
}

button:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

#submitNew
{
    background-color: #00ff00;
}

#submitNew{
    cursor: pointer;
}

#submitGuess
{
    background-color: #00ff00;

}

#submitGuess:hover{
    cursor: pointer;
}

.header
{
    display: flex;
}

.header #pLife
{
    border: 2px solid black;
    padding: 10px;
}

.header #title
{
    border: 2px solid transparent;
    padding: 10px;
}

.struct
{
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    background: linear-gradient(to right, lightskyblue, white);
    margin-left: 75px;
}